/*Bootstrap overides*/
.navbar {background: #ffffff;border-radius: 0px; border-bottom: 2px solid #eee;}
.navbar-nav>li>a{color:#3e688f !important;}
.navbar-brand {padding:0px 15px; margin-top: -4px; margin-left: 0px !important;}
.navbar-brand img {height: 60px;}
.header {padding: 1%}
a {text-decoration: none;}
/*Custom*/

/*General*/
body {font-family: 'Source Sans Pro', sans-serif; padding-bottom: 50px;}
.wrapper{text-align:center; margin: 0 2% 0 2%;min-height: 450px;}
.wrapper p {text-align: justify;}

/*Navbar*/
#bs-example-navbar-collapse-1 ul li a:hover {
	text-decoration:none
}
#bs-example-navbar-collapse-1 ul li a::after {
	position:absolute;
	top:100%;
	left:0;
	width:100%;
	height:2px;
	background: #3e688f;
	content:'';
	opacity:0;
	-webkit-transition:opacity .3s, -webkit-transform .3s;
	-moz-transition:opacity .3s, -moz-transform .3s;
	transition:opacity .3s, transform .3s;
	-webkit-transform:translateY(10px);
	-moz-transform:translateY(10px);
	transform:translateY(10px)
}
#bs-example-navbar-collapse-1 ul li a:focus::after, #bs-example-navbar-collapse-1 ul li a:hover::after, #bs-example-navbar-collapse-1 ul li.current-item a::after {
	opacity:1;
	-webkit-transform:translateY(0px);
	-moz-transform:translateY(0px);
	transform:translateY(0px)
}

/*Footer*/
.footer > .container {padding-right: 15px;padding-left: 15px; text-align: center;}
.footer > .container > .text-muted {margin: 20px 0;color:#ffffff;}

/*Home*/
.slider_bg {background: url('../images/home_bg2.jpg');background-size: 100% 100%;height: 540px;}
.slider {padding: 4% 6%;}
.slider_text {text-align:center; margin: 12% 0 16%;}
.slider_text h2 {font-size: 4em; color:#ffffff; text-transform:uppercase;}
.slider_text h3{font-size: 2.4em; color: #ffffff; width: 50%; margin: 0 auto;}

/*Products*/
.product-img{height:150px;}

/*Contact*/
.contact-left{margin-top: 50px;}
.contact-right{margin-top: 50px;}
.contact-right img {height:34px; padding:4px;}
.contact-right label {padding-top: 6px;}
textarea {resize: none;}